@import 'Styles/index';

.form-field-component {
  display: flex;
  flex-direction: column;

  label {
    font-size: .8em;
    font-weight: bold;
    color: $grey;
    margin-bottom: .2em;
  }

  input[type=text], input[type=password] {
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    line-height: 1.5em;
  }
}